.body{
    background-image: url('image/background.jpg');


}
nav{
    display: flex;
    justify-content:space-between;
    margin: 30px 20px 10px 10px;
}
nav li{
list-style: none;
margin: 35px;
align-items: center;
 
}
nav ul{

    display: flex;
}
.navdiv{
    background-color: rgb(229, 86, 9);
    width: auto;
    height: 80px;
}
.leftdiv{
    display: flex;
    height: 400px;
    
}
.rightdiv{
    background-image: url('image/51364.jpg');
    background-size: cover;
    height: 400px;

}
.rightdiv input{
 background-color: transparent;
}
.tablediv{
    margin-top: 200px;
    margin-left: 200px;
}
.btn{
  background-color: orange;
  font-weight: bold;
  font-size: 16px;
  color: antiquewhite;
  
}
.main-container{
    position: center;
    width: 80%;
    height: 80px;
    background-color: sienna;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    
}