body {
    font-size: 20px;
    color: #444;
    background-color: #fff;
    }
    
        h1 {
            font-size: 40px;
            color: #f39c12;
            text-align: center;
            margin-top: 50px;
        }
    
        form {
            border: 2px solid #f39c12;
            padding: 20px;
            width: 600px;
            margin: 0 auto;
            border-radius: 10px;
        }
    
        table {
            font-size: 28px;
            color: #444;
            margin: 0 auto;
        }
    
        td {
            padding: 10px;
        }
    
        input[type="text"],
        select {
            height: 40px;
            width: 300px;
            font-size: 24px;
            border: 2px solid #f39c12;
            border-radius: 5px;
            padding: 5px;
        }
    
        input[type="submit"] {
            height: 50px;
            font-size: 24px;
            background-color: #f39c12;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
        }
    
        input[type="submit"]:hover {
            background-color: #e67e22;
        }